// ========================================
//
// @file _footer.scss
// Footer element on the page
//
// ========================================

.block-block-content185dc8b1-886d-47c3-a061-a51926ede2b7 {
  text-align: center;
  margin: 2% 0;
  padding: 6% 0;
  border-top: 1px solid $color-grey-border;
  border-bottom: 1px solid $color-grey-border;

  .orange-text{
    color: $color-orange;
  }

  .field--type-text-with-summary {
    padding: 10px 0;
  }

  p {
    color: $color-grey-text;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    padding: 4px 30px;
    background-color: rgb(41, 193, 225);
    border-radius: 30px;

    &:hover {
      background-color: $color-orange;
    }

  }
}

//Footer content
.footer {
  max-width: 1200px;
  margin: auto;
  border-bottom: 1px solid $color-grey-border;
  padding: 4% 0;

  .block-block-content4562295e-59a4-455c-ab31-0773c6489574{
    p {
      margin: 0;
    }
  }
  .menu--footer {
    h2 {
      margin: 0;
      font-size: 18px;
      padding: 0 0 10px 0;
    }
    .menu {
      margin: 0;

      .menu-item {
        padding-bottom: 10px;
      }

      li a{
        text-decoration: none;
        text-transform: uppercase;
        color: $color-grey-text;

      }
    }
  }

  .menu--footer-2 {
    .menu {
      margin: 32% 0 0 0;

      .menu-item {
        padding-bottom: 10px;
      }

      li a{
        text-decoration: none;
        text-transform: uppercase;
        color: $color-grey-text;

      }
    }
  }

  .block-block-contentfab729a8-315e-44f2-83b8-7fba9a2cb9aa {
    h2 {
      margin: 0;
      font-size: 18px;
      padding: 0 0 15px 0;
    }
    p {
      margin: 0;
      padding: 0 0 13px 0;
      color: $color-grey-text;
    }
  }

  .block-block-content1ceacfdd-0c43-4479-b54a-537631c860c4 {

    h2 {
      margin: 0;
      font-size: 18px;
    }
    p {
      margin: 0;
      padding: 13px 0 0 0;

    }

    .button-go {
      border: 0;
      padding: 6px;
      width: 60px;
      background-color: $color-blue;
      color: white;
      text-transform: uppercase;
      border-radius: 5px;
    }
  }
}

.block-block-contentd6ecfd88-4707-46bb-b360-cfad943b2d70 {
  padding: 2% 0;
  text-align: center;

  p {
    font-size: 16px;
    color: $color-grey-text;
  }
}