// ========================================
//
// @file _header.scss
// Header element on the page
//
// ========================================


.region-header {
  padding: 3px 0 0 0;
}

.top-header {
  background-color: $color-grey-blue;
  padding: 15px 0;

  .top-container {
    max-width: 1200px;
    margin: auto;

    p {
      margin: 0;
      text-transform: uppercase;
      font-size: 16px;
      color: $color-grey-text;
    }
  }
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;

  p:nth-child(1){
    padding: 0 10px;
    &::before {
      font-family: FontAwesome;
      content: '\f098';
      padding-right: 10px;
    }
  }
  p:nth-child(2){
    padding: 0 10px;
    border-left: 1px solid $color-grey-text;
    &::before {
      font-family: FontAwesome;
      content: '\f0e0';
      padding-right: 10px;
    }
  }
}

//Slider
.block-views-blocks-block-1 {
  .slick-dots {
    position: absolute;
    top: 90%;

    li button::before{
      border: 3px solid white;
      border-radius: 16px;
      font-size: 0;
    }
  }

  .slider {
    position: absolute;
    top: 50%;
    margin: auto;
    transform: translateY(-50%);
    right: 0;
    left: 0;
    p:nth-child(1) {
      margin: auto;
      text-align: center;
      font-size: 30px;
      font-weight: 700;
      color: white;
      text-transform: uppercase;
    }
    p:nth-child(2) {
      margin: auto;
      text-align: center;
      color: white;
      text-transform: uppercase;
      font-size: 15px;
    }
  }
}

//Banners
.block-block-content66cbb4b3-3ffc-4236-8fba-5b33fc437bee {
  position: relative;
  .banner-center {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;

    h3 {
      margin: 0;
      font-size: 30px;
      color: $color-white;
    }
    p {
      font-size: 15px;
      color: $color-white;
    }
  }
}


.block-block-content26339b3e-9b06-4824-80fe-b3f41a5f82f8 {
  @extend .block-block-content66cbb4b3-3ffc-4236-8fba-5b33fc437bee;
}

.block-block-content150b2e67-c396-4621-a575-eead565510a3{
  @extend .block-block-content66cbb4b3-3ffc-4236-8fba-5b33fc437bee;
}