// ========================================
//
// @file _navigation.scss
// All the navigation elements on the page
//
// ========================================

.primary-menu {
  max-width: 1200px;
  margin: auto;

  .menu {
    display: flex;
    align-items: center;
    margin: auto;

    a{
      padding-left: 30px;
      text-transform: uppercase;
      text-decoration: none;
      color: $color-grey-text;

      &:hover {
        color: black;
      }
    }
  }

  .menu--account {
    a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 13px;
      color: white;
      padding: 8px 20px;
      background-color: rgb(41, 193, 225);
      border-radius: 30px;

      &:hover {
        background-color: $color-orange;
        color: white;
      }
    }
  }
}
