@media (max-width: 420px){
  .region-highlighted{
    flex-direction: column;
    text-align: center;

    .block-block-contentb9ebc3f4-ca7d-4c52-9d93-c5feb4966e91 {
      p {
        font-size: 14px;
      }
    }
  }
  .region-primary-menu{
    flex-direction: column;

    .site-logo {
      padding: 10px;
    }

    .menu--main {
      padding: 0 0 30px 0;

      ul li a {
        padding: 0 15px 0 0;
        text-align: center;
      }
    }

    .menu--account {
      padding: 0 0 30px 0;
    }
  }



  .region-header{
    .block-views-blocks-block-1{
      .slider {
        p{
         display: none;
        }
      }
    }

    .slick-dots {
      visibility: hidden;
    }
  }



  .region-content{
    flex-direction: column;

    .node--type-page {
      margin: 0 2% 8% 2%;
    }

    .block-views-blockservice-block-1{
      padding: 15px 0;
    }
  }
  .block-views-blocklatest-events-block-1{
    h2{
      text-align: center;
    }
    .view-header{
      text-align: center;
    }
    .view-content{
      flex-direction: column;
      .views-row {
        padding: 10px 0;
      }
    }
  }

  .footer-top {
    h2{
      text-align: center;

    }
    .view-header{
      text-align: center;
    }

    .view-content{
      grid-template-columns: 1fr;

      .view-row {
        width: 90%;
        margin: auto;
      }
    }

    .more-link {
      padding: 70px 0 70px 0;
    }

    .block-block-content9fdc6a3a-9683-4c90-9140-9c2e6484574f{
      display: none;
    }

    .block-block-content185dc8b1-886d-47c3-a061-a51926ede2b7{
      width: 90%;
      margin: auto;
    }
  }

  .region-footer-mid {
    flex-direction: column;
    text-align: center;

    .block-block-content4562295e-59a4-455c-ab31-0773c6489574{
      margin: auto;
      padding: 10px 0;
    }
    .menu--footer {
      margin: 0;
      padding: 0;

      .menu {
        margin: 0;
        text-align: center;
      }
    }
    .menu--footer-2{
      margin: 0;

      .menu {
        margin: 0;
        text-align: center;
      }
    }
  }

  //Comapany page and company node
  .path-companies{
    .region-header {
      .block-block-content26339b3e-9b06-4824-80fe-b3f41a5f82f8 {
        display: none;
      }
    }

    .region-content-search{
      flex-direction: column;

      .block-block-contentd6e25c0c-3508-4897-b884-c37bd170af53{
        padding: 10px 0;
        margin: auto;
        border: 0;

        .field--type-text-with-summary{
          text-align: center;
        }
      }

      .form--inline{
        flex-direction: column;
        text-align: center;
        &::before {
          display: none;
        }

        .form-item {
          float: none;
          margin-right: 0;
          .form-autocomplete {
            width: 300px;
          }

          .form-select {
            width: 300px;
          }
        }
      }
    }

    .region-content {
      text-align: center;
      .view-content{
        .views-row {
          flex-direction: column;
          text-align: center;

          .views-field-field-logo{
          padding: 0;
          margin: auto;
        }

          .companies-title{
            border: none;
            padding: 10px 0;
          }

          .companies-body{
            width: 90%;
            margin: auto;
            text-align: justify;
          }
        }
      }
    }

  }

  .page-node-type-company{
    .region-header {
      .block-block-content26339b3e-9b06-4824-80fe-b3f41a5f82f8 {
        display: none;
      }
    }

    .layout-content-first{
      flex-direction: column;

      .block-page-title-block{
        text-align: center;
      }

      .region-content{
        .node_company {
          text-align: center;
          .field--name-field-logo{
            float: none;
            padding: 10px 0;
            margin: auto;

            img {
              margin: auto;
            }
          }

          .field--name-body{
            width: 90%;
            margin: auto;
          }

          .field--name-field-industry-term{
            margin: auto;
            text-align: center;
            width: 300px;

            .field__item a{
              border: none;
              font-size: 14px;
            }
            &::before {
              padding: 0;
            }
          }

          .field--name-field-webisite {
            a{
              border: none;
              font-size: 14px;
              padding-left: 20px;
            }
            &::before {
              padding: 0;
            }
          }

          .field--name-field-phone-number {
            a{
              border: none;
              font-size: 14px;
            }
            &::before {
              padding: 0;
            }
          }

          .field--name-field-email {
            a{
              border: none;
              font-size: 14px;
              padding-left: 20px;
            }
            &::before {
              padding: 0;
            }
          }

          .field--name-field-address {
            width: 96%;
            margin: auto;
            iframe {
              display: none;
            }
            .simple-gmap-address{
              border: none;
              text-align: center;
              width: 100%;
            }
          }
        }
      }
    }
  }

  //Event and event node

  .path-event {
    .region-header {
      .block-block-content66cbb4b3-3ffc-4236-8fba-5b33fc437bee {
        display: none;
      }
    }

    .region-content-search{
      flex-direction: column;

      .block-block-contentd4742ecd-d528-40dc-ab76-b5d6abefc6a0 {
        padding: 10px 0;
        margin: auto;
        border: 0;

        .field--type-text-with-summary{
          text-align: center;
        }
      }

      .form--inline{
        flex-direction: column;
        text-align: center;
        &::before {
          display: none;
        }

        .form-item {
          float: none;
          margin-right: 0;
          .form-autocomplete {
            width: 300px;
          }

          .form-select {
            width: 300px;
          }
        }
      }
    }

    .region-content {
      .block-page-title-block {
        text-align: center;
      }
      .views-element-container{
        .view-header {
          text-align: center;
        }

        .view-content {
          display: flex;
          flex-direction: column;
          align-items: center;

          .views-row {
            //margin: auto;
            width: 95%;
            margin: 10px 0;

            .views-field-field-event-image{
              margin: auto;
              order: inherit;
              &::before {
                display: none;
              }
            }
          }
        }
      }
    }

  }

  .page-node-type-event {
    .region-header {
      .block-block-content66cbb4b3-3ffc-4236-8fba-5b33fc437bee {
        display: none;
      }
    }

    .region-content{
      flex-direction: column;

      .block-views-blockabout-organizer-location-block-1 {
        text-align: center;
        margin: auto;
      }
      .node--type-event{
        text-align: center;

        .dates {
          flex-direction: column;

          .field--name-field-start-date {
            display: inline-flex;
            padding: 10px 0;
            margin: auto;
          }
        }
      }
    }
  }


  //Locations and location node.
  .path-locations {
    .region-header {
      .block-block-content150b2e67-c396-4621-a575-eead565510a3 {
        display: none;
      }
    }

    .region-content-search {
      flex-direction: column;

      .block-block-contentfc396f6e-6220-4284-b488-aaf8707748f0 {
        padding: 10px 0;
        margin: auto;
        border: 0;

        .field--type-text-with-summary {
          text-align: center;
        }
      }

      .form--inline{
        flex-direction: column;
        text-align: center;
        &::before {
          display: none;
        }

        .form-item {
          float: none;
          margin-right: 0;
          .form-autocomplete {
            width: 300px;
          }

          .form-select {
            width: 300px;
          }
        }
      }
    }

    .region-content {
      text-align: center;
      .view-content {
        justify-content: center;
        align-items: center;
        .views-row {
          flex-direction: column;
          margin: 10px 0;

          .views-field-field-location-image {
            padding: 0;
          }

          .views-field-title {
            border: none;
            padding: 10px 0;
          }

          .views-field-field-subtitle {
            text-align: center;
            padding: 10px 0 50px 0;

          }

        }
      }
    }
  }

  .page-node-type-location {

    .region-header {
      .block-block-content150b2e67-c396-4621-a575-eead565510a3 {
        display: none;
      }

    }

    .layout-content-first {
      flex-direction: column;

      .block-page-title-block {
        text-align: center;
      }

      .region-content{
        .node_location {
          .field--name-field-location-image {
            float: none;
            padding: 10px 0;

            img {
              margin: auto;
            }
          }

          .field--type-text-with-summary {
            width: 95%;
            margin: auto;

          }

          .field--name-field-equipment {
            float: none;
            padding: 10px 0;
            text-align: center;
            width: inherit;
          }

          .field--name-field-webisite {
            margin: auto;
            text-align: center;
            a{
              border: none;
              font-size: 14px;
              padding-left: 20px;
            }
            &::before {
              padding: 0;
            }
          }

          .field--name-field-phone-number {
            margin: auto;
            text-align: center;
            width: 300px;
            a{
              border: none;
              font-size: 14px;
              padding-left: 20px;
            }
            &::before {
              padding: 0;
            }
          }

          .field--name-field-address {
            margin: 0 0 0 2%;
            width: 96%;
            iframe {
              display: none;
            }
            .simple-gmap-address{
              border: none;
              text-align: center;
              width: 100%;
            }
          }
        }
      }


    }
  }
}


//--------------------------------Tablet--------------------------------

@media (min-width: 420px) and (max-width: 768px){
  .region-highlighted{
    flex-direction: column;
    text-align: center;
  }

  .region-primary-menu{
    flex-direction: column;

    .site-logo {
      padding: 10px;
    }

    .menu--main {
      padding: 0 0 30px 0;

      ul li a {
        padding: 0 15px 0 0;
        text-align: center;
      }
    }

    .menu--account {
      padding: 0 0 30px 0;
    }
  }

  .region-header{
    .block-views-blocks-block-1{
      .slider {
        p:nth-child(1){
          font-size: 24px;
        }

        p:nth-child(2){
          font-size: 14px;
        }
      }
    }

    .slick-dots {
      visibility: hidden;
    }
  }

  .region-content{
    flex-direction: column;

    .node--type-page {
      margin: 0 2% 8% 2%;
    }

    .block-views-blockservice-block-1{
      padding: 15px 0;
    }
  }

  .block-views-blocklatest-events-block-1{
    h2{
      text-align: center;
    }
    .view-header{
      text-align: center;
    }
    .view-content{
      flex-direction: column;
      .views-row {
        padding: 10px 0;
      }
    }
  }

  .footer-top {
    h2{
      text-align: center;

    }
    .view-header{
      text-align: center;
    }

    .view-content{
      grid-template-columns:repeat(2, 1fr);

      .view-row {
        width: 90%;
        margin: auto;
      }
    }

    .more-link {
      padding: 70px 0 70px 0;
    }

    .block-block-content9fdc6a3a-9683-4c90-9140-9c2e6484574f{
      display: none;
    }

    .block-block-content185dc8b1-886d-47c3-a061-a51926ede2b7{
      width: 90%;
      margin: auto;
    }
  }

  .region-footer-mid {
    flex-direction: column;
    text-align: center;

    .block-block-content4562295e-59a4-455c-ab31-0773c6489574{
      margin: auto;
      padding: 10px 0;
    }
    .menu--footer {
      margin: 0;
      padding: 0;

      .menu {
        margin: 0;
        text-align: center;
      }
    }
    .menu--footer-2{
      margin: 0;

      .menu {
        margin: 0;
        text-align: center;
      }
    }
  }

  //Company page and node

  .path-companies{
    .region-header {
      .block-block-content26339b3e-9b06-4824-80fe-b3f41a5f82f8 {
        h3{
          font-size: 24px;
        }

        p{
          font-size: 14px;
        }
      }
    }

    .region-content-search{
      flex-direction: column;

      .block-block-contentd6e25c0c-3508-4897-b884-c37bd170af53{
        padding: 10px 0;
        margin: auto;
        border: 0;

        .field--type-text-with-summary{
          text-align: center;
        }
      }

      .form--inline{
        flex-direction: column;
        text-align: center;
        &::before {
          display: none;
        }
      }
    }

    .region-content {
      text-align: center;
      .view-content{
        .views-row {
          flex-direction: column;
          text-align: center;

          .views-field-field-logo{
            padding: 0;
            margin: auto;
          }

          .companies-title{
            border: none;
            padding: 10px 0;
          }

          .companies-body{
            width: 90%;
            margin: auto;
            text-align: justify;
          }
        }
      }
    }

  }

  .page-node-type-company{
    .region-header {
      .block-block-content26339b3e-9b06-4824-80fe-b3f41a5f82f8 {
        h3{
          font-size: 24px;
        }

        p{
          font-size: 14px;
        }
      }
    }

    .layout-content-first{
      flex-direction: column;

      .block-page-title-block{
        text-align: center;
      }

      .region-content{
        .node_company {
          text-align: center;
          .field--name-field-logo{
            float: none;
            padding: 10px 0;
            margin: auto;

            img {
              margin: auto;
            }
          }

          .field--name-body{
            width: 90%;
            margin: auto;
          }

          .field--name-field-industry-term{
            margin: 15px 0;
            text-align: center;

            .field__item a{
              border: none;
            }
          }

          .field--name-field-webisite {
            a{
              border: none;
            }
          }

          .field--name-field-phone-number {
            a{
              border: none;
            }
          }

          .field--name-field-email {
            a{
              border: none;
            }
          }

          .field--name-field-address {
            width: 96%;
            margin: auto;
            iframe {

            }
            .simple-gmap-address{
              border: none;
              text-align: center;
            }
          }
        }
      }
    }
  }


  //Event and event node

  .path-event {
    .region-header {
      .block-block-content66cbb4b3-3ffc-4236-8fba-5b33fc437bee {
        h3{
          font-size: 24px;
        }

        p{
          font-size: 14px;
        }
      }
    }

    .region-content-search{
      flex-direction: column;

      .block-block-contentd4742ecd-d528-40dc-ab76-b5d6abefc6a0 {
        padding: 10px 0;
        margin: auto;
        border: 0;

        .field--type-text-with-summary{
          text-align: center;
        }
      }

      .form--inline{
        flex-direction: column;
        text-align: center;
        &::before {
          display: none;
        }
      }
    }

    .region-content {
      .block-page-title-block {
        text-align: center;
      }
      .views-element-container{
        .view-header {
          text-align: center;
        }

        .view-content {
          display: grid;
          grid-template-columns: 1fr 1fr;
          width: 95%;
          margin: auto;

          .views-row {
            //margin: auto;
            width: 95%;
            margin: 10px 0;

            .views-field-field-event-image{
              margin: auto;
              order: inherit;
              &::before {
                display: none;
              }
            }
          }
        }
      }
    }

  }

  .page-node-type-event {
    .region-header {
      .block-block-content66cbb4b3-3ffc-4236-8fba-5b33fc437bee {
        h3{
          font-size: 24px;
        }

        p{
          font-size: 14px;
        }
      }
    }

    .region-content{
      flex-direction: column;

      .block-views-blockabout-organizer-location-block-1 {
        text-align: center;
        margin: auto;
      }
      .node--type-event{
        text-align: center;

        .dates {
          flex-direction: column;

          .field--name-field-start-date {
            display: inline-flex;
            padding: 10px 0;
            margin: auto;
          }
        }
      }
    }
  }

  //Locations and location node.
  .path-locations {
    .region-header {
      .block-block-content150b2e67-c396-4621-a575-eead565510a3 {
        h3{
          font-size: 24px;
        }

        p{
          font-size: 14px;
        }
      }
    }

    .region-content-search {
      flex-direction: column;

      .block-block-contentfc396f6e-6220-4284-b488-aaf8707748f0 {
        padding: 10px 0;
        margin: auto;
        border: 0;

        .field--type-text-with-summary {
          text-align: center;
        }
      }

      .form--inline {
        flex-direction: column;
        text-align: center;
        &::before {
          display: none;
        }
      }
    }

    .region-content {
      text-align: center;
      .view-content {
        justify-content: center;
        align-items: center;
        .views-row {
          flex-direction: column;
          margin: 10px 10px;

          .views-field-field-location-image {
            padding: 0;
          }

          .views-field-title {
            border: none;
            padding: 10px 0;
          }

          .views-field-field-subtitle {
            text-align: center;
            padding: 10px 0 50px 0;

          }

        }
      }
    }
  }

  .page-node-type-location {

    .region-header {
      .block-block-content150b2e67-c396-4621-a575-eead565510a3 {
        h3{
          font-size: 24px;
        }

        p{
          font-size: 14px;
        }
      }

    }

    .layout-content-first {
      flex-direction: column;

      .block-page-title-block {
        text-align: center;
      }

      .region-content{
        .node_location {
          .field--name-field-location-image {
            float: none;
            padding: 10px 0;

            img {
              margin: auto;
            }
          }

          .field--type-text-with-summary {
            width: 95%;
            margin: auto;
          }

          .field--name-field-equipment {
            float: none;
            padding: 10px 0;
            text-align: center;
            width: inherit;
          }

          .field--name-field-webisite {
            margin: auto;
            text-align: center;
          }

          .field--name-field-phone-number {
            margin: auto;
            text-align: center;

            a {
              border: none;
              padding: 0;
            }
          }

          .field--name-field-address {
            margin: 2% 0 0 2%;
            width: 96%;

            .simple-gmap-address{
              border: none;
              text-align: center;
            }
          }
        }
      }
    }
  }

}

//Other resolution
@media (min-width: 768px) and (max-width: 992px){
  .top-container {
    width: 95%;
  }

  .primary-menu{
    width: 95%;
  }

  .block-block-content9fdc6a3a-9683-4c90-9140-9c2e6484574f {
    display: none;
  }

  .path-frontpage{
    .layout-content-first{
      width: 95%;
    }

    .layout-second {
      .layout-width {
        width: 95%;

        .view-content .views-row {
          background-color: white;
          margin: 0 10px;

        }
      }
    }

    .footer-top{
      width: 95%;
    }
  }

  .footer{
    width: 95%;

    .menu--footer-2 .menu {
      margin: 38% 0 0 0;
    }
  }


  //Company nodes and page

  .path-companies{
    .search-filter{
      width: 95%;


      .region-content-search{
        .block-block-contentd6e25c0c-3508-4897-b884-c37bd170af53{
          border: none;
          padding: 0 2px 0 0;
        }
      }
    }

    .layout-content-first{
      width: 95%;
    }
  }

  .page-node-type-company{
    .layout-content-first{
      flex-direction: column;
      width: 87%;
      margin: auto;
    }

    .layout-sidebar-second{
      margin: auto;
    }
  }


  //Events node and events page
  .path-event{
    .search-filter{
      width: 95%;


      .region-content-search{
        .block-block-contentd4742ecd-d528-40dc-ab76-b5d6abefc6a0{
          border: none;
          padding: 0 2px 0 0;
        }
      }
    }

    .layout-content-first{
      width: 95%;

      .views-field-field-event-image{
        &::before{
          display: none;
        }
      }
    }
  }

  .page-node-type-event{
    .layout-content-first{
      width: 95%;
    }
  }

  //Location page and node for tablets

  .path-locations{
    .search-filter{
      width: 95%;


      .region-content-search{
        .block-block-contentfc396f6e-6220-4284-b488-aaf8707748f0{
          border: none;
          padding: 0 2px 0 0;
        }
      }
    }

    .layout-content-first{
      width: 95%;
    }
  }


  .page-node-type-location {
    .layout-content-first{
      flex-direction: column;
      width: 87%;
      margin: auto;
    }

    .layout-sidebar-second{
      margin: auto;
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px){
  .top-container {
    width: 95%;
  }

  .primary-menu{
    width: 95%;
  }

  .block-block-content9fdc6a3a-9683-4c90-9140-9c2e6484574f {
    .blue-triangle {
      left: 959px;
    }

    .orange-triangle {
      left: 1020px;
    }
  }

  .path-frontpage{
    .layout-content-first{
      width: 95%;
    }

    .layout-second {
      .layout-width {
        width: 95%;

        .view-content .views-row {
          background-color: white;
          margin: 0 10px;

        }
      }
    }

    .footer-top{
      width: 95%;
    }
  }

  .footer{
    width: 95%;

    .menu--footer-2 .menu {
      margin: 38% 0 0 0;
    }
  }


  //Company nodes and page

  .path-companies{
    .search-filter{
      width: 95%;


      .region-content-search{
        .block-block-contentd6e25c0c-3508-4897-b884-c37bd170af53{
          border: none;
          padding: 0 2px 0 0;
        }
      }
    }

    .layout-content-first{
      width: 95%;
    }
  }

  .page-node-type-company{
    .layout-content-first{
      width: 98%;
      margin: auto;
    }
  }


  //Events node and events page
  .path-event{
    .search-filter{
      width: 95%;


      .region-content-search{
        .block-block-contentd4742ecd-d528-40dc-ab76-b5d6abefc6a0{
          border: none;
          padding: 0 2px 0 0;
        }
      }
    }

    .layout-content-first{
      width: 95%;

      .views-field-field-event-image{
        &::before{
          display: none;
        }
      }
    }
  }

  .page-node-type-event{
    .layout-content-first{
      width: 95%;
    }
  }

  //Location page and node for tablets

  .path-locations{
    .search-filter{
      width: 95%;


      .region-content-search{
        .block-block-contentfc396f6e-6220-4284-b488-aaf8707748f0{
          border: none;
          padding: 0 2px 0 0;
        }
      }
    }

    .layout-content-first{
      width: 95%;
    }
  }


  .page-node-type-location {
    .layout-content-first{
      width: 98%;
      margin: auto;
    }
  }
}
