<div class="layout-container">
    <div class="top-header">
        <div class="top-container">
            {{ page.highlighted }}
        </div>
    </div>
    <div class="primary-menu">
        {{ page.primary_menu }}
    </div>

    <header role="banner">
        {{ page.header }}
    </header>


    <main role="main">
        <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
        {{ page.content_search }}

        <div class="layout-content-first">
            {{ page.content }}
            {% if page.sidebar_first %}
            <aside class="layout-sidebar-first" role="complementary">
            {{ page.sidebar_first }}
            </aside>
            {% endif %}

            {% if page.sidebar_second %}
            <aside class="layout-sidebar-second" role="complementary">
            {{ page.sidebar_second }}
            </aside>
            {% endif %}
        </div>{# /.layout-content #}

        {% if page.content_second %}
            <div class="layout-second">
                <div class="layout-width">
                    {{ page.content_second }}
                </div>
            </div>
        {% endif %}
    </main>

    {#{% if page.sidebar_first %}#}
        {#<aside class="layout-sidebar-first" role="complementary">#}
            {#{{ page.sidebar_first }}#}
        {#</aside>#}
    {#{% endif %}#}

    {#{% if page.sidebar_second %}#}
        {#<aside class="layout-sidebar-second" role="complementary">#}
            {#{{ page.sidebar_second }}#}
        {#</aside>#}
    {#{% endif %}#}

    <div class="footer-top">
        <footer role="contentinfo">
            {{ page.footer_top }}
        </footer>
    </div>

    <div class="footer">
        <footer role="contentinfo">
            {{ page.footer_mid }}
        </footer>
    </div>

    <div class="footer-last">
        <footer role="contentinfo">
            {{ page.footer }}
        </footer>
    </div>

</div>{# /.layout-container #}