<div class="layout-container">
    <div class="top-header">
        <div class="top-container">
            {{ page.highlighted }}
        </div>
    </div>
    <div class="primary-menu">
        {{ page.primary_menu }}
    </div>

    <header role="banner">
        {{ page.header }}
    </header>


    <main role="main">
        <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

        <div class="fluid">
            <div class="search-filter">
                {{ page.content_search }}
            </div>
        </div>


        <div class="layout-content-first">
            {{ page.content }}
        </div>{# /.layout-content #}


        {% if page.content_second %}
            <div class="layout-second">
                <div class="layout-width">
                    {{ page.content_second }}
                </div>
            </div>
        {% endif %}
    </main>

    <div class="footer-top">
        <footer role="contentinfo">
            {{ page.footer_top }}
        </footer>
    </div>

    <div class="footer">
        <footer role="contentinfo">
            {{ page.footer_mid }}
        </footer>
    </div>

    <div class="footer-last">
        <footer role="contentinfo">
            {{ page.footer }}
        </footer>
    </div>

</div>{# /.layout-container #}