// ========================================
//
// @file _layout.scss
// Basic page layouts, widths, margins, paddings
//
// ========================================


.region-highlighted {
  display: flex;
  justify-content: space-between;
}

.region-primary-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-flex {
  .region-content {
    display: flex;
    justify-content: space-between;
  }
  //.region-content {

  //}
}
.region-content-search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.region-footer-mid {
  display: flex;
  justify-content: space-between;
}
//Main content


.layout-content-first {
  max-width: 1200px;
  margin: auto;

  .node--type-page {
    max-width: 863px;
    h2 {
      margin: 0;

      a {
        text-transform: uppercase;
        font-size: 24px;
        text-decoration: none;
       }
    }

    p {
      color: $color-grey-text;
    }
  }

  .block-views-blockservice-block-1 {
    display: flex;
    justify-content: center;
    margin: 2% 2%;

    .body-filed {
      .first-p {
        display: flex;
        justify-content: space-between;
        p {
          color: $color-grey-text;
          margin-top: 0;
          strong {
            color: $color-black;
          }
        }
        &::before {
          font-family:FontAwesome;
          content: '\f080';
          font-size: 53px;
          margin: 0 5% 0 2%;
        }

        &:hover {
          color: $color-orange;
        }
      }

      .second-p {
        display: flex;
        justify-content: space-between;
        margin: 3% 0;
        p {
          color: $color-grey-text;
          strong {
            color: $color-black;
          }
        }
        &::before {
          font-family:FontAwesome;
          content: '\f14a';
          font-size: 70px;
          margin: 0 5% 0 2%;
        }

        &:hover {
          color: $color-orange;
        }
      }

      .third-p {
        display: flex;
        justify-content: space-between;
        margin: 3% 0;
        p {
          color: $color-grey-text;
          strong {
            color: $color-black;
          }
        }
        &::before {
          font-family:FontAwesome;
          content: '\f27e';
          font-size: 70px;
          margin: 0 5% 0 2%;
        }

        &:hover {
          color: $color-orange;
        }
      }
    }
  }
}

//Second content
.layout-second {
  background-color: $color-grey-blue;
  padding: 30px 0 120px;

  .layout-width {
    max-width: 1200px;
    margin: auto;
  }

  h2 {
    text-transform: uppercase;

  }
  .view-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    .views-row {
      .views-field-title {
        background-color: $color-white;
        text-transform: uppercase;
        padding: 15px 0 0 20px;
        a {
          color: black;
          font-size: 15px;
          text-decoration: none;
        }
      }

      .views-field-field-start-date {
        padding: 10px 0 20px 20px;
        color: #f6a85a;
        background-color: $color-white;
      }
    }
  }

}

//Third content it will be changed to region that belongs
.footer-top {
  max-width: 1200px;
  margin: auto;

  h2 {
    text-transform: uppercase;
    padding: 20px 0;
  }

  .view-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

    .view-row {
      display: flex;
      justify-content: space-between;
      padding: 30px 0 0;

      img {
        padding: 0 10px 0 0;
      }

      a {
        text-decoration: none;
        color: black;
      }

      p {
        margin: 0;
        color: $color-grey-text;
      }
    }
  }

  .more-link {
    text-align: center;
    padding: 70px 0 120px 0;

    a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 14px;
      color: white;
      padding: 8px 20px;
      background-color: rgb(41, 193, 225);
      border-radius: 30px;

      &:hover {
        background-color: $color-orange;
        color: white;
      }
    }
  }
}

//Triangle
.block-block-content9fdc6a3a-9683-4c90-9140-9c2e6484574f {
  position: relative;
  max-max-width: 1200px;
  margin: auto;

  .blue-triangle {
    position: absolute;
    top: -55px;
    left: 986px;
    z-index: 2;
  }

  .orange-triangle {
    position: absolute;
    top: -85px;
    left: 1065px;
  }
}


//Filter for all pages.
.fluid {
  background-color: $color-grey-filter;
}

.search-filter {
  max-width: 1200px;
  margin: auto;

  .form--inline {
    display: flex;
    justify-content: center;

    &::before {
      content: ':';
      color: white;
      padding: 22px 10px 0 0;
    }

    .form-autocomplete {
      border: 0;
      background: white;
      padding: 8px;
      width: 350px;
      color: $color-grey-text;
      border-radius: 5px;
    }

    .form-select {
      border: 0;
      background: white;
      padding: 7px;
      width: 350px;
      color: $color-grey-text;
      border-radius: 5px;
    }

    .form-actions {
     .button {
       border: 0;
       padding: 8px;
       background-color: $color-orange;
       width: 150px;
       color: $color-white;
       text-transform: uppercase;
       border-radius: 5px;

     }
    }
  }

  .block-block-contentd6e25c0c-3508-4897-b884-c37bd170af53 {
    padding: 0 30px 0 20px;
    border-left: 1px solid $color-orange;

    .orange-search {
      background-color: $color-orange;
    }

      p {
        margin: 0;
        font-size: 13px;
        color: $color-white;
        text-transform: uppercase;
      }

      h4 {
        text-transform: uppercase;
        margin: 0;
        font-size: 15px;
        color: $color-white;
      }
  }

  .block-block-contentd4742ecd-d528-40dc-ab76-b5d6abefc6a0 {
    @extend .block-block-contentd6e25c0c-3508-4897-b884-c37bd170af53;
  }

  .block-block-contentfc396f6e-6220-4284-b488-aaf8707748f0 {
    @extend .block-block-contentd6e25c0c-3508-4897-b884-c37bd170af53;
  }
}

//Companies page
.view-id-companies {
  .view-content {
    .views-row {
      display: flex;
      justify-content: space-between;
      padding: 42px 0;
      border-bottom: 1px solid $color-grey-border;

      .views-field-field-logo {
        padding: 0 50px 0 0;
      }

      .companies-title {
        border-left: 3px solid $color-blue;
        a {
          font-size: 16px;
          padding-left: 5px;
          text-decoration: none;
          color: $color-black;
        }
      }

      .companies-body {
        p {
          font-size: 15px;
          color: $color-grey-text;
        }
      }

      .companies-link {
        padding: 20px 0 0 0;
        a {
          text-decoration: none;
          text-transform: uppercase;
          font-size: 14px;
          color: white;
          padding: 8px 20px;
          background-color: rgb(41, 193, 225);
          border-radius: 30px;

        }
      }

    }
    .views-row:last-child{
      border:none;
    }
    .views-row:hover {
      .companies-title {
        border-left: 3px solid $color-orange;
        a {
          font-size: 16px;
          padding-left: 5px;
          text-decoration: none;
          color: $color-black;
        }
      }

      .companies-link {
        padding: 20px 0 0 0;
        a {
          text-decoration: none;
          text-transform: uppercase;
          font-size: 14px;
          color: white;
          padding: 8px 20px;
          background-color: $color-orange;
          border-radius: 30px;

          &:hover {
            background-color: $color-orange;
            color: white;
          }
        }
      }
    }
  }

}

//Event page
.view-id-event {
  .view-content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 65px;
    padding: 50px 0;

    .views-row {
      background-color: $color-grey-blue;
      display: flex;
      flex-direction: column;
      position: relative;

      &:nth-child(1){
        .views-field-field-event-image {
          &::before {
            border-bottom: 55px solid $color-grey-blue;
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
            content: "";
            position: absolute;
            bottom: 49.5%;
            left: 40%;
          }
        }
      }

      &:nth-child(2) {
        .views-field-field-event-image {
          order: 1;
          &::before {
            border-top: 55px solid $color-grey-blue;
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
            content: "";
            position: absolute;
            top: 49%;
            left: 40%;
          }
        }
      }

      &:nth-child(3){
        .views-field-field-event-image {
          &::before {
            border-bottom: 55px solid $color-grey-blue;
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
            content: "";
            position: absolute;
            bottom: 49.5%;
            left: 40%;
          }
        }
      }

      &:nth-child(4){
        .views-field-field-event-image {
          &::before {
            border-bottom: 55px solid $color-grey-blue;
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
            content: "";
            position: absolute;
            bottom: 49.5%;
            left: 40%;
          }
        }
      }

      &:nth-child(5) {
        .views-field-field-event-image {
          order: 1;
          &::before {
            border-top: 55px solid $color-grey-blue;
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
            content: "";
            position: absolute;
            top: 49%;
            left: 40%;
          }
        }
      }

      &:nth-child(6){
        .views-field-field-event-image {
          &::before {
            border-bottom: 55px solid $color-grey-blue;
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
            content: "";
            position: absolute;
            bottom: 49.5%;
            left: 40%;
          }
        }
      }

      .views-field-field-start-date {
        text-align: center;
        text-transform: uppercase;
        margin: auto;
        padding: 38px 0 0 0;
        font-size: 24px;
        width: 25%;
      }
      .views-field-title {
        text-align: center;
        padding: 20px 0 0 0;
        a {
          text-decoration: none;
          color: $color-black;
          font-size: 16px;
        }
      }
      .views-field-body {
        width: 80%;
        text-align: center;
        margin: auto;
        padding: 10px 0;
        .field-content p{
          color: $color-grey-text;
        }
      }

      .views-field-view-node {
        text-align: center;
        padding: 20px 0 40px 0;
        a {
          text-decoration: none;
          text-transform: uppercase;
          font-size: 14px;
          color: white;
          padding: 8px 20px;
          background-color: rgb(41, 193, 225);
          border-radius: 30px;

          &:hover {
            background-color: $color-orange;
            color: white;
          }
        }
      }
    }
  }
}

//Locations page

.view-id-location {
  .view-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 42px 0;
    .views-row {
      background-color: $color-grey-blue;
      margin: 10px 0;

      .views-field-title {
        padding: 20px 0 0 15px;
        a {
          text-transform: uppercase;
          text-decoration: none;
          color: $color-black;
        }
      }

      .views-field-field-subtitle {
        padding: 10px 0 50px 15px;
        a {
          text-decoration: none;
          color: $color-orange;
          font-size: 15px;
        }
      }
    }
  }
}

//Company node
.page-node-type-company {
  .layout-content-first {
    display: flex;
    justify-content: space-between;

    .block-page-title-block {
      border-bottom: 1px solid $color-grey-border;

      h1 {
        margin: 2% 0 6% 0;
        font-size: 42px;
        font-weight: 100;
      }
    }
  }
  .node_company {
    max-width: 863px;
    .field--name-field-logo {
      float: left;
      padding: 0 30px 10px 0;
    }

    .text-formatted {
      text-align: justify;

      p {
        color: $color-black;
      }
    }

    .field--name-field-industry-term {
      display: inline-flex;
      align-items: center;
      border: 1px solid $color-grey-text;

      width: 404px;
      padding: 30px 30px 30px 40px;
      margin: 5% 2.5% 0 0;
      a {
        color: $color-black;
        font-size: 18px;
        text-decoration: none;
        border-left: 4px solid $color-blue;
        padding-left: 20px;

      }
      &::before {
        font-family: FontAwesome;
        content: '\f02d';
        font-size: 35px;
        padding-right: 35px;

      }

      &:hover {
        border: 1px solid $color-orange;

        a {
          border-left: 4px solid $color-orange;
        }
      }
    }

    .field--name-field-webisite {
      @extend .field--name-field-industry-term;
      margin: 5% 0 0 2.5%;

      a {
        color: $color-black;
        font-size: 18px;
        text-decoration: none;
        border-left: 4px solid $color-blue;
        padding-left: 20px;
      }
      &::before {
        font-family: FontAwesome;
        content: '\f0c0';
        font-size: 35px;
        padding-right: 35px;

      }

    }

    .field--name-field-phone-number {
      @extend .field--name-field-industry-term;
      margin: 5% 2.5% 5% 0;

      a {
        color: $color-black;
        font-size: 18px;
        text-decoration: none;
        border-left: 4px solid $color-blue;
        padding-left: 20px;
      }
      &::before {
        font-family: FontAwesome;
        content: '\f095';
        font-size: 35px;
        padding-right: 35px;

      }
    }

    .field--name-field-email {
      @extend .field--name-field-industry-term;
      margin: 5% 0 5% 2.5%;

      a {
        color: $color-black;
        font-size: 18px;
        text-decoration: none;
        border-left: 4px solid $color-blue;
        padding-left: 20px;
      }
      &::before {
        font-family: FontAwesome;
        content: '\f2b5';
        font-size: 35px;
        padding-right: 35px;

      }
    }

    .field--name-field-address {
      border: 1px solid $color-grey-text;
      padding: 10px 0;
      display: inline-flex;
      align-items: center;

      iframe {
        order: 1;

      }

      p {
        width: 16%;
        display: inline-flex;
        justify-content: center;
        font-size: 18px;
        padding: 5px 10px;
        border-left: 4px solid $color-blue;

      }

      &::before {
        font-family: FontAwesome;
        content: '\f124';
        font-size: 48px;
        padding: 0 40px;
      }

      &:hover {
        border: 1px solid $color-orange;

        p {
          border-left: 4px solid $color-orange;
        }
      }
    }
  }
}

//Events what are up to
.region-sidebar-second {
  margin: 13% 7%;

  h2 {
    margin-bottom: 0;
    text-transform: uppercase;
  }

  .view-header {
    text-transform: uppercase;
    margin: 0 0 30px 0;
  }

  .view-content {
    .views-row {
      margin: 8% 0;
      .views-field-title {
        padding: 10px 0 5px 0;

        a {
          text-transform: uppercase;
          text-decoration: none;
          color: $color-black;

          border-left: 4px solid $color-blue;
          padding-left: 10px;
        }
      }

      .views-field-field-start-date {
        padding: 5px 0 10px 12px;
        color: $color-orange;
      }

      .views-field-field-event-image {
        padding: 5px 0 10px 12px;
      }
    }
  }
}



//
.page-node-type-event {
 .layout-content-first {
   .region-content {
     display: flex;
     justify-content: space-between;
     margin: 7% 0;
     .block-views-blockabout-organizer-location-block-1{
        max-width: 320px;
       h2 {
         margin-bottom: 0;
         font-weight: normal;
         text-transform: uppercase
       }

       .view-header {
         text-transform: uppercase;
       }

       .event-organizer {
         border: 3px solid $color-grey-border;
         padding: 10px;
         margin-top: 10%;

         .logo-titles {
           display: flex;
           align-items: center;
           padding-left: 10px;

           p a {
             color: $color-black;
             text-decoration: none;
             font-size: 16px;
             border-left: 4px solid $color-blue;
             padding: 5px 15px;
             margin-left: 10px;
           }
         }

         .field-body p {
           padding: 10px;
           text-align: justify;
         }

         .field-link {
            a {
              text-decoration: none;
              text-transform: uppercase;
              color:  $color-blue;
              padding-left: 208px;
            }
         }

         &:hover {
           .logo-titles {
             p a {
               border-left: 4px solid $color-orange;
             }
           }

           .field-link {
             a {
               color:  $color-orange;
             }
           }
         }
       }
       .event-location {
         @extend .event-organizer;
       }
     }
     .node--type-event {
        margin: 10% 0 0 0;

       .field--name-field-event-image {
         display: flex;
         justify-content: center;
         img {
           border-radius: 100px;

         }
       }

       h2 {
         text-align: center;
         margin: 4% 0 1.5% 0;
         font-weight: 300;
         color: $color-black;
         a {
           text-decoration: none;
         }
       }

       .field--name-field-event-type {
         display: flex;
         justify-content: center;
         a {
           text-decoration: none;
           color: $color-black;
           padding: 2px 0 2px 16px;
           border-left: 3px solid $color-blue;

           &:hover {
             border-left: 3px solid $color-orange;
           }
         }
       }

       .dates {
         display: flex;
         justify-content: space-around;
         padding: 30px 0 20px 0;
         .field--name-field-start-date {
           //min-width: 800px;
           display: inline-flex;

           .field__label {
             font-weight: 100;
             border-left: 3px solid $color-blue;
             padding-left: 10px;

             &:hover {
               border-left: 3px solid $color-orange;
             }
           }
         }

         .field--name-field-end-date {
           @extend .field--name-field-start-date;
         }
       }

       .field--name-body {
         padding: 10px 20px;
         p {
           color: $color-black;
           text-align: justify;
         }
       }
     }
   }
 }
}


//Location single node style page.

.page-node-type-location {
  .layout-content-first {
    display: flex;
    justify-content: space-between;

    .region-content {
      .block-page-title-block {
        border-bottom: 1px solid $color-grey-border;
        margin: 5% 0;
        h1 {
          font-weight: 100;
        }
      }

      .node_location {
        max-width: 863px;

        .field--type-image {
          float: left;
          padding: 10px 30px 0 0;
        }

        .field--type-text-with-summary {
          text-align: justify;
          p {
            color: $color-black;
            text-align: justify;
          }
        }

      }
    }
  }

  .field--name-field-equipment {
    float: right;
    width: 40%;

    .field__label {
      font-size: 18px;
      font-weight: 100;
      margin: 6% 0;
    }

      .field__item {
        display: inline-block;
        margin: 15px 15px 15px 0;
        a {
          background-color: $color-blue;
          color: white;
          padding: 10px 15px;
          text-decoration: none;
          text-transform: uppercase;
        }
    }
  }

  .field--name-field-phone-number {
    border: 1px solid $color-grey-text;

    width: 404px;
    padding: 20px 30px 20px 40px;
    margin: 5% 2.5% 5% 0;

    a {
      color: $color-black;
      font-size: 18px;
      text-decoration: none;
      border-left: 4px solid $color-blue;
      padding-left: 20px;
    }
    &::before {
      font-family: FontAwesome;
      content: '\f098';
      font-size: 41px;
      padding-right: 35px;

    }

    &:hover {
      border: 1px solid $color-orange;

      a {
        border-left: 4px solid $color-orange;
      }
    }
  }

  .field--name-field-webisite {
    @extend .field--name-field-phone-number;
    padding: 30px 30px 30px 40px;
    &::before {
      font-family: FontAwesome;
      content: '\f0c0';
      font-size: 35px;
      padding-right: 35px;

    }
  }

  .field--name-field-email {
    @extend .field--name-field-phone-number;
    padding: 30px 30px 30px 40px;
    &::before {
      font-family: FontAwesome;
      content: '\f0e0';
      font-size: 35px;
      padding-right: 35px;

    }
  }

  .field--name-field-address {
    border: 1px solid $color-grey-text;
    padding: 10px 0;
    display: inline-flex;
    align-items: center;

    iframe {
      order: 1;
    }

    p {
      width: 16%;
      display: inline-flex;
      justify-content: center;
      font-size: 18px;
      padding: 5px 10px;
      border-left: 4px solid $color-blue;
    }

    &::before {
      font-family: FontAwesome;
      content: '\f124';
      font-size: 48px;
      padding: 0 40px;
    }

    &:hover {
      border: 1px solid $color-orange;

      p {
        border-left: 4px solid $color-orange;
      }
    }
  }
}
//"Responsive"
