// ========================================
//
// @file _settings.scss
// Fonts, colors, breakpoints and other various variables
//
// ========================================

// - - - - - - - - - - - - - - - - - - - -
// Base font size
// - - - - - - - - - - - - - - - - - - - -
$base-font-size: 16px;

// - - - - - - - - - - - - - - - - - - - -
// Colors
// - - - - - - - - - - - - - - - - - - - -
$color-white: white;
$color-black: #30353B;
$color-grey-blue: #E4ECEE;
$color-orange: #F49A37;
$color-blue: #29C0E0;
$color-grey-text: #9FACB1;
$color-grey-filter: #6C6C6E;
$color-grey-border: #DDE7E9;
// - - - - - - - - - - - - - - - - - - - -
// Fonts
// - - - - - - - - - - - - - - - - - - - -
$font-open-sans: 'Open Sans', sans-serif;

// - - - - - - - - - - - - - - - - - - - -
// Grid
// - - - - - - - - - - - - - - - - - - - -
$screen-xs: 420px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$screen-xs-min: rem($screen-xs);
$screen-sm-min: rem($screen-sm);
$screen-md-min: rem($screen-md);
$screen-lg-min: rem($screen-lg);

$screen-xs-max: rem(($screen-sm - 1));
$screen-sm-max: rem(($screen-md - 1));
$screen-md-max: rem(($screen-lg - 1));
$screen-lg-max: rem($screen-lg);

$grid-columns: 12;
$grid-gutter: 30px;
$grid-gutter-width: rem(($grid-gutter / 2));

$container-xs: rem(($screen-xs + $grid-gutter));
$container-sm: rem(($screen-sm + $grid-gutter));
$container-md: rem(($screen-md + $grid-gutter));
$container-lg: rem(($screen-lg + $grid-gutter));
